.navItem {
  width: 33.333333333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navLink {
  padding: 0.6rem;
  border-radius: 100%;
}

.itemLabel {
  position: absolute;
  bottom: 3.4rem;
  font-size: 14px;
  padding: 8px 12px;
  visibility: hidden;
  user-select: none;
}

.navLink:hover ~ .itemLabel {
  visibility: visible;
}
